@import '../../../styles/media-queries.css';
@import '../../../styles/extends.css';
@import '../../shared/button/Button.css';

%label {
  color: var(--primary-color);
  font-size: 1.25rem;
  font-weight: 700;
}

.ManageCommunityForm {
  composes: FormStyles from '../styles.css';
}

.ManageCommunityFields {
  & > div {
    break-inside: avoid;
  }

  & label {
    display: block;

    & img {
      margin-left: 40px;
    }
  }

  @media (--medium-viewport) {
    columns: 2;
    column-gap: 2rem;
  }
}

.FieldGroup {
  margin-bottom: 1rem;

  & .FileUploaderContainer {
    position: relative;

    & input {

      /* stylelint-disable-next-line declaration-no-important */
      margin-bottom: 0 !important;
    }

    & .Uploader {
      background: var(--primary-white);
    }

    & button {
      @extend %button;
      @extend %secondary-theme;

      border-radius: 0;
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      font-size: 0.8rem;
    }
  }
}

.BenefitContainer {
  position: relative;
  margin: 0 0 1rem;

  & input:not([type="radio"]) {
    padding-right: 2rem;
  }
}

.AddBenefit {
  font-size: 0.8rem;
}

.RemoveBenefit {
  @extend %link-style;

  position: absolute;
  line-height: 1.5;
  top: 50%;
  transform: translateY(-50%);
  right: 0.5rem;
  color: var(--primary-black);
}

.SocialMediaSelection {
  position: relative;
  display: flex;
  justify-content: space-around;

  & .AddSocialMedia {
    @extend %button;
    @extend %secondary-theme;
    @extend %box-shadow;

    font-size: 0.8rem;
    position: relative;

    & span {
      font-size: 1rem;
      position: absolute;
      top: 50%;
      right: 0.75rem;
      transform: translateY(-50%);
    }
  }

  & .SocialMediaList {
    @extend %unstyled-list;
    @extend %box-shadow;

    position: absolute;
    top: 100%;
    background: var(--primary-white);
  }

  & .SocialMediaListItem {
    padding: 0.5rem 1rem;
    cursor: pointer;
  }
}

.GroupedFieldGroup {
  break-before: avoid;
  margin-bottom: 1rem;

  & h2 {
    @extend %label;

    margin: 0 0 0.5rem;
  }

  & label {
    font-size: 1rem;
    font-weight: 400;
    color: var(--primary-black);
    margin-bottom: 0.25rem;
  }

  & input:not([type="radio"]) {
    margin-bottom: 0.5rem;
  }
}

.Error {
  color: var(--warm-coral);
}
