@import '../../../styles/extends.css';
@import '../../../styles/media-queries.css';

.tooltip {
  display: inline-block;
  vertical-align: bottom;
  position: relative;
  margin-left: 0.5rem;

  & img {
    width: 19px;
    height: 20px;
    cursor: pointer;
  }

  & .popper {
    display: none;
    position: absolute;
    bottom: calc(100% + 0.75rem);
    left: 50%;
    transform: translateX(-50%);
    width: 240px;
    height: auto;
    padding: 1.5rem 1rem;
    z-index: 99999;
    font-size: 1rem;
    font-weight: 400;
    color: var(--gray-0);
    border-radius: 5px;
    background-color: var(--primary-white);
    filter: drop-shadow(0 0.15rem 0.25rem var(--transparent-black-20));

    &::after {
      content: "";
      position: absolute;
      border: 0.5rem solid transparent;
      border-left-width: 0.75rem;
      border-right-width: 0.75rem;
      border-top-color: var(--primary-white);
      top: 100%;
      transform: translateX(-50%);
      left: 50%;
      pointer-events: none;
    }
  }

  &:hover .popper {
    display: inline-block;
  }
}
