@custom-selector :--button button, .Button;
@custom-selector :--enter :hover, :focus;
@custom-selector :--outline .Outline;

%button {
  border: 1px solid;
  color: var(--primary-white);
  font-size: 1rem;
  padding: 0.5rem 2rem;
  border-radius: 5px;
  cursor: pointer;
  transition: all 100ms linear;
  text-decoration: none;
  display: inline-block;
  font-family: 'Montserrat', sans-serif;
}

%primary-theme {
  &:not(:--outline) {
    background: var(--primary-button-default);
    border-color: var(--primary-button-default);

    &:--enter {
      background: var(--primary-button-active);
      border-color: var(--primary-button-active);
    }
  }

  &:--outline {
    color: var(--primary-button-default);

    &:--enter {
      border-color: var(--primary-button-active);
      color: var(--primary-button-active);
    }
  }
}

%secondary-theme {
  &:not(:--outline) {
    background: var(--secondary-button-default);
    border-color: var(--secondary-button-default);

    &:--enter {
      background: var(--secondary-button-active);
      border-color: var(--secondary-button-active);
    }
  }

  &:--outline {
    color: var(--secondary-button-default);

    &:--enter {
      border-color: var(--secondary-button-active);
      color: var(--secondary-button-active);
    }
  }
}

%tertiary-theme {
  background: var(--tertiary-button-default);
  border-color: var(--tertiary-button-default);
  color: var(--primary-color);

  &:--enter {
    background: var(--tertiary-button-active);
  }
}

%outline {

  /* NOTE: !important used because .Outline  */
  /* will always have transparent backgrounds */
  /* stylelint-disable-next-line declaration-no-important */
  background: var(--transparent-black-0) !important;

  &:--enter {

    /* stylelint-disable-next-line declaration-no-important */
    background: var(--transparent-black-10) !important;
  }
}

:--button {
  @extend %button;

  &[disabled],
  &[disabled]:--enter {
    cursor: not-allowed;

    /* stylelint-disable-next-line declaration-no-important */
    background: var(--button-disabled) !important;

    /* stylelint-disable-next-line declaration-no-important */
    border-color: var(--button-disabled) !important;
  }

  &.Primary {
    @extend %primary-theme;
  }

  &.Secondary {
    @extend %secondary-theme;
  }

  &.Tertiary {
    @extend %tertiary-theme;
  }

  &.Primary,
  &.Secondary,
  &.Tertiary {
    &:not([disabled]) {
      box-shadow: 0 0.25rem 1rem var(--transparent-black-30);
    }
  }

  &.Outline {
    @extend %outline;
  }

  &.Block {
    width: 100%;
    justify-content: space-around;
  }

  &.Rounded {
    border-radius: 9999px;
  }

  &.Centered {
    display: flex;
    margin: 0 auto;
  }
}
