.ConversionInputs {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}

.ConversionInput {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-grow: 1;
  margin: 0 1rem 0 0;

  & img {
    max-width: 2rem;
    margin: 0 0.25rem;
  }

  & label {
    font-weight: 700;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    margin: 0 1rem;
    align-self: flex-end;

    & span {
      font-weight: 100;
      font-size: 0.9rem;
      color: var(--gray-7);
      display: block;
      margin-bottom: 0.25rem;
    }
  }

  & input {
    align-self: flex-end;
    width: 100%;
  }
}
