@import '../../../styles/globals.css';
@import '../../../styles/media-queries.css';

.Header {

  composes: container from global;

  background: var(--primary-white);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0.5rem 0;
}

.Logo {
  max-width: 10rem;
}

.PrimaryNav {
  margin-left: auto;
}

.Metamask {
  display: flex;
  align-items: center;
  justify-content: space-between;

  & img {
    max-width: 2rem;
  }

  & svg {
    margin-left: .5rem;
    & circle {
      fill: var(--primary-color--alt);
    }
  }

  &.Disabled {
    & img {
      filter: grayscale(100%);
    }
    & svg circle {
      fill: var(--secondary-color);
    }
  }
}

.Subheader {
  background: var(--gray-0);
  padding: 1rem 0;

  & > div {
    display: flex;
    justify-content: flex-end;
  }
}
