@import '../../../styles/globals.css';
@import '../../../styles/extends.css';
@import '../../../styles/media-queries.css';

.Header {
  background: var(--primary-color);
  position: relative;
}

.HeaderContainer {
  composes: container from global;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
}

.LogoLink {
  margin-right: auto;
}

.Logo {
  max-width: 10rem;
  width: 10rem;
}

.Wallet {
  margin: 0.5rem 0.5rem 0;
  width: 3rem;

  & path,
  & circle {
    fill: var(--primary-white);
  }

  &.Disabled {
    & path,
    & circle {
      fill: var(--greenish-blue);
    }
  }

  @media (--medium-viewport) {
    order: 3;
  }
}
