@import '../../../styles/extends.css';
@import '../../../styles/media-queries.css';

.TaskList {
  @extend %unstyled-list;
}

.TaskItem {
  padding: 1rem 0 3rem;
  display: flex;
  align-items: stretch;
  flex-direction: column;

  &:not(:last-child) {
    @extend %decorator--full-width;
  }

  @media (--medium-viewport) {
    flex-direction: row;
  }
}

.TaskImage {
  order: 2;

  @media (--medium-viewport) {
    max-width: 15rem;
    width: 100%;
    margin-right: 2rem;
    order: initial;
  }
}

.TaskDescription {
  order: 1;

  & h3 {
    margin-top: 0;
  }

  @media (--medium-viewport) {
    width: 100%;
    order: initial;
    margin-right: 2rem;
  }
}

.TaskMeta {
  order: 3;

  & h4 {
    margin: 0;
    font-weight: 700;
  }

  @media (--medium-viewport) {
    margin-left: auto;
    max-width: 25rem;
    width: 100%;
    order: initial;
  }
}
