@import '../../../../styles/extends.css';
@import '../../../../styles/media-queries.css';

.VoteItem {
  @extend %decorator--full-width;

  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 1rem 0;
  width: 100%;
  flex-direction: column;

  &::after {
    background: var(--gray-5);
  }

  & h3 {
    margin: 0;
    font-size: 1.25rem;
  }

  @media (--medium-viewport) {
    flex-direction: row;
  }
}

.VoteImage {
  width: 100%;

  @media (--medium-viewport) {
    flex-basis: 20%;
  }
}

.VoteDescription {
  margin: 2rem 0;

  @media (--medium-viewport) {
    margin: 0 2rem;
    flex-basis: 50%;
  }
}

.VoteClosing {
  color: var(--gray-5);
}

.VoteMeta {
  flex-basis: 30%;
  align-self: stretch;

  & h3 {
    margin-bottom: 1.5rem;
  }

  & form {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  & button {
    margin-bottom: auto;
  }
}

.VoteResults h4 {
  display: inline-block;
}
