@import '../../../../styles/extends.css';

.VoteItem {
  @extend %decorator--full-width;

  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 1rem 0;
  width: 100%;

  &::after {
    background: var(--gray-5);
  }
}

.VoteImage {
  min-width: 300px;
}

.VoteDescription {
  margin: 0 2rem;

  & h3 {
    margin: 0;
    font-size: 1.5rem;
  }
}

.VoteClosing {
  color: var(--gray-5);
}

.VoteMeta {
  text-align: center;
  flex-basis: content;

  & h4 {
    margin-top: 0;
  }
}

.VoteResults h4 {
  display: inline-block;
}
