@import '../../shared/button/Button.css';

.WelcomeContainer {
  margin-top: 2rem;
  text-align: center;
  margin-bottom: 4rem;
}

.StepCounter {
  position: absolute;
  right: 1rem;
  bottom: 1rem;
}

.Important {
  color: var(--secondary-color);
  font-weight: 700;
}

.WelcomeButton {
  @extend %button;

  margin: 1rem auto 0;
}

.MetamaskButton {
  background: var(--black-1);
  border-color: var(--black-1);

  & span,
  & img {
    display: inline-block;
    vertical-align: middle;
  }

  & img {
    max-width: 2rem;
    margin-right: 1rem;
  }
}

.CoinbaseButton,
.MyCryptoButton {
  @extend %button;
  @extend %box-shadow;

  margin: 0 1rem;
  font-size: 1.25rem;
}

.CoinbaseButton {
  background: var(--coinbase-blue);
  border-color: var(--coinbase-blue);
}

.MyCryptoButton {
  background: var(--primary-black);
  border-color: var(--primary-black);
}
