@import '../../../styles/globals.css';
@import '../../../styles/media-queries.css';

.ManageProjectForm {
  composes: FormStyles from '../styles.css';
}

.ManageProjectFields {
  & > div {
    break-inside: avoid;
  }

  & label {
    display: block;
  }

  @media (--medium-viewport) {
    columns: 2;
    column-gap: 2rem;
  }
}

.FieldGroup {
  composes: FieldGroup from '../styles.css';
}

.Error {
  composes: Error from '../styles.css';
}
