%container {
  max-width: 1280px;
  width: 98%;
  margin: 0 auto;
}

%unstyled-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

%decorator {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 20%;
    width: 60%;
    height: 1px;
    background: var(--primary-color--alt);
  }
}

%decorator--full-width {
  @extend %decorator;

  &::after {
    left: 0;
    width: 100%;
  }
}

%visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

%link-style {
  margin: 0;
  padding: 0;
  display: inline;
  vertical-align: baseline;
  border: 0;
  background: transparent;
}

%box-shadow {
  box-shadow: 0 0.25rem 1rem var(--transparent-black-30);
}
