@import url('https://fonts.googleapis.com/css?family=Montserrat:100,400,700,900');

@custom-selector :--heading h1, h2, h3, h4, h5, h6;

:--heading {
  color: var(--primary-color);
  font-weight: 700;
}

:global(.container) {
  max-width: 1280px;
  width: 98%;
  margin: 0 auto;
}

img {
  width: 100%;
  display: block;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
}
