@import url('https://use.typekit.net/ltg0xwv.css');

@custom-selector :--heading h1, h2, h3, h4, h5, h6;

:--heading {
  color: var(--neutral-gray);
  font-family: 'omnes-pro', sans-serif;
  font-weight: 300;
}

:global(.container) {
  max-width: 1280px;
  width: 98%;
  margin: 0 auto;
}

:global(.visible-md) {
  display: none;

  @media (--medium-viewport) {
    display: inherit;
  }
}

:global(.visible-lg) {
  display: none;

  @media (--large-viewport) {
    display: inherit;
  }
}

input:disabled {
  cursor: not-allowed;
  color: var(--gray-8);
  border-color: var(--gray-8);
}

img {
  width: 100%;
  display: block;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
}
