:root {
  /* Colors */
  --white-0: #fff;
  --white-1: #fafafa;
  --white-2: #f5f6f8;
  --white-3: #eee;

  --black-0: #000;
  --black-1: #111;

  --transparent-black-0: color-mod(var(--black-0) alpha(0%));
  --transparent-black-10: color-mod(var(--black-0) alpha(10%));

  --gray-0: #333;

  --primary-color: #2C5E5E;
  --primary-color--alt: #549387;
  --secondary-color: #F16667;

  --primary-white: var(--white-0);
  --primary-black: var(--black-0);

  /* Button Theming */
  --primary-button-default: var(--primary-color);
  --primary-button-active: color-mod(var(--primary-color) shade(10%));

  --secondary-button-default: var(--secondary-color);
  --secondary-button-active: color-mod(var(--secondary-color) shade(10%));

  --tertiary-button-default: var(--primary-white);
  --tertiary-button-active: color-mod(var(--primary-white) shade(10%));
}
