/* stylelint-disable */
:root {
  /* Colors */
  --white-0: #fff;
  --white-1: #fafafa;
  --white-2: #f5f6f8;
  --white-3: #eee;

  --black-0: #000;
  --black-1: #111;

  --transparent-black-0: color-mod(var(--black-0) alpha(0%));
  --transparent-black-10: color-mod(var(--black-0) alpha(10%));
  --transparent-black-20: color-mod(var(--black-0) alpha(20%));
  --transparent-black-30: color-mod(var(--black-0) alpha(30%));
  --transparent-black-40: color-mod(var(--black-0) alpha(40%));
  --transparent-black-50: color-mod(var(--black-0) alpha(50%));
  --transparent-black-60: color-mod(var(--black-0) alpha(60%));
  --transparent-black-70: color-mod(var(--black-0) alpha(70%));
  --transparent-black-80: color-mod(var(--black-0) alpha(80%));
  --transparent-black-90: color-mod(var(--black-0) alpha(90%));
  --transparent-black-100: color-mod(var(--black-0) alpha(100%));

  --transparent-white-0: color-mod(var(--white-0) alpha(0%));
  --transparent-white-10: color-mod(var(--white-0) alpha(10%));
  --transparent-white-20: color-mod(var(--white-0) alpha(20%));
  --transparent-white-30: color-mod(var(--white-0) alpha(30%));
  --transparent-white-40: color-mod(var(--white-0) alpha(40%));
  --transparent-white-50: color-mod(var(--white-0) alpha(50%));
  --transparent-white-60: color-mod(var(--white-0) alpha(60%));
  --transparent-white-70: color-mod(var(--white-0) alpha(70%));
  --transparent-white-80: color-mod(var(--white-0) alpha(80%));
  --transparent-white-90: color-mod(var(--white-0) alpha(90%));
  --transparent-white-100: color-mod(var(--white-0) alpha(100%));

  --gray-0: #333;
  --gray-1: #444;
  --gray-2: #555;
  --gray-3: #666;
  --gray-4: #777;
  --gray-5: #888;
  --gray-6: #999;
  --gray-7: #aaa;
  --gray-8: #bbb;
  --gray-9: #ccc;
  --gray-10: #ddd;

  --neutral-gray: var(--gray-0);

  --greenish-blue: #38767d;
  --native-green: #549387;
  --dark-green: #2c5e5e;

  --light-blue: #64b4cd;
  --dark-blue: #288ba9;

  --warm-coral: #f16667;
  --warm-orange: #ef8822;
  --warm-yellow: #fbc24d;

  --primary-color: var(--native-green);
  --primary-color--alt: #549387;
  --secondary-color: var(--dark-blue);

  --primary-white: var(--white-0);
  --primary-black: var(--black-0);

  /* Button Theming */
  --primary-button-default: var(--primary-color);
  --primary-button-active: color-mod(var(--primary-color) shade(10%));
  --primary-button-disabled: color-mod(var(--gray-8));

  --secondary-button-default: var(--secondary-color);
  --secondary-button-active: color-mod(var(--secondary-color) shade(10%));
  --secondary-button-disabled: color-mod(var(--gray-8));

  --tertiary-button-default: var(--primary-white);
  --tertiary-button-active: color-mod(var(--gray-8));
}
