@import '../../styles/media-queries.css';
@import '../../styles/extends.css';
@import '../../components/shared/button/Button.css';

:global(.ReactTable .rt-tr) {
  align-items: center;
}

:global(.ReactTable .rt-td) {
  padding: 1rem;
}

:global(.ReactTable .rt-thead .rt-th) {
  padding: 1rem;
  color: var(--gray-6);
}

.DashboardBanner {
  background: var(--native-cream-2);
  padding: 1.5rem 0;

  & .Button {
    @extend %button;
    @extend %primary-theme;
    @extend %box-shadow;
  }

  & > div {
    @extend %container;

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: wrap;
  }
}

.TokenBalances {
  white-space: nowrap;

  & .Balance {
    display: flex;
    align-items: center;
    flex-flow: wrap;
  }

  & img {
    max-width: 1rem;
    margin-right: 0.5rem;
  }
}

.Dashboard {
  composes: container from global;
  margin-bottom: 5rem;
}

.DashboardTitle {
  display: flex;
  justify-content: space-between;
}

.DashboardConverter {
  padding: 1rem 0;
  box-shadow: 0 0.5rem 2rem var(--transparent-black-20);
  margin-bottom: 1rem;

  @media (--medium-viewport) {
    padding: 2rem;
  }
}

.DashboardConverterMessage {
  text-align: right;
  font-size: 0.8rem;
  margin-bottom: 3rem;
}

.Table {
  box-shadow: 0 0.5rem 2rem var(--transparent-black-20);
  margin-bottom: 3rem;
  background: var(--white-0);
}

.CommunityLink {
  display: inline-flex;
  align-items: center;
  font-weight: 700;
  color: var(--primary-black);
  text-decoration: none;
  width: 100%;

  & img {
    max-width: 2rem;
    margin-right: 0.5rem;
  }

  & .CommunityTitle {
    text-decoration: underline;
  }

  & .Curator {
    color: var(--warm-orange);
    font-weight: bold;
    display: block;
    text-transform: uppercase;
    font-size: 0.8rem;
  }

  & .Member {
    color: var(--native-green);
    font-weight: bold;
    display: block;
    text-transform: uppercase;
    font-size: 0.8rem;
  }
}

.CommunityLinkDisabled {
  composes: CommunityLink;

  & .CommunityTitle {
    text-decoration: none;
  }
}

.ModalHeader {
  & h1 {
    font-size: 1.4rem;
    margin-bottom: 2rem;
  }

  & img {
    max-width: 5rem;
    margin: 0 auto;
  }
}

.AuthorizeModalContainer {
  text-align: center;
  margin-bottom: 2rem;
}

.AuthorizeButton {
  margin-bottom: 2rem;
}
