@import '../../../styles/variables.css';

.header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 2rem;

  & h2 {
    display: inline-block;
    margin: 0;
  }
}
