@import '../../../styles/variables.css';

.TableTitle {
  width: 100%;
  text-align: center;

  & h2 {
    color: var(--primary-color);
  }
}

.Table {
  width: 100%;
  border-bottom: 1px solid var(--primary-color);
  border-right: 1px solid var(--primary-color);
  border-collapse: collapse;
  border-spacing: none;
}

.TableRow {
  width: 100%;
  background: #efefef;
  text-align: center;
}

.TableCell {
  border-top: 1px solid var(--primary-color);
  border-left: 1px solid var(--primary-color);
  padding: 10px;
  text-align: left;
}

.ExpandedCell {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  & p {
    margin-top: 0px;
  }
}

.CellButton {
  padding: 10px;
}

.PollButton {
  display: flex;
  justify-content: flex-end;
}

.ModalHeader {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  & button {
    position: absolute;
    top: 0;
    right: 0;
    border: 0;
    background: transparent;
    padding: 0;
  }

  & h1 {
    @extend %decorator;

    width: 100%;
    text-align: center;

    &::after {
      background: var(--gray-7);
      left: 10%;
      width: 80%;
      height: 2px;
    }
  }

  & img {
    max-width: 5rem;
  }
}
