@import '../../../styles/media-queries.css';

.ConversionInputs {
  width: 100%;
  box-shadow: 0 0 1rem var(--transparent-black-30);
  padding: 0 0 1rem;

  & .ConversionButton {
    margin: 0 auto;
    display: block;
    max-width: calc(100% - 4rem);
  }

  @media (--medium-viewport) {
    display: flex;
    align-content: center;
  }
}

.ConversionInput {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 1rem;
  flex-flow: wrap;

  @media (--medium-viewport) {
    flex-basis: calc(50% - 1rem);
  }
}

.Error {
  display: block;
  color: var(--warm-coral);
  text-align: right;
  width: 100%;
}
