@import '../../../styles/globals.css';
@import '../../../styles/extends.css';
@import '../../../styles/media-queries.css';

.Navigation {
  margin-left: auto;

  & ul {
    @extend %unstyled-list;

    display: flex;
  }
}

.NavLink {
  color: var(--primary-color);
  text-decoration: none;
  display: inline-flex;
  margin: 0 1rem;
  font-weight: 100;

  &:global(.active) {
    color: var(--secondary-color);
    font-weight: 700;
  }
}
