@import '../../../styles/extends.css';

.DropdownContainer {
  position: relative;
}

.DropdownMenu {
  @extend %unstyled-list;
  @extend %box-shadow;

  position: absolute;
  background: var(--primary-white);
  top: 100%;
  width: 100%;
  z-index: 50;
  max-height: 20rem;
  overflow: scroll;
}

.DropdownMenuItem {
  padding: 0.5rem 1rem;
  cursor: pointer;
}
