.NotificationsBadge {
  box-shadow: 0 1px 1px var(--transparent-black-40);
  text-shadow: 0 1px 1px var(--transparent-black-40);
  position: absolute;
  top: 0;
  right: 0;
  text-align: center;
  height: 0.75rem;
  min-width: 0.75rem;
  background: var(--native-red);
  font-size: 0.6rem;
  border-radius: 1.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: content-box;
  padding: 0.25rem;
}
