.LoaderBackground {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  &:not(.FullScreen) {
    position: absolute;
    background: var(--primary-white);
  }

  &.FullScreen {
    background: var(--transparent-black-70);
    position: fixed;
  }
}

.Loader {
  max-width: 10rem;
  max-height: 10rem;
  width: 100%;
  height: 100%;
  border-radius: 100%;

  & svg {
    width: 100%;
    height: 100%;
  }

  & path {
    animation: fade 1200ms linear infinite;
  }

  @for $i from 1 to 12 {

    & path:nth-child($i) {
      animation-delay: calc($i * 100ms);
    }
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
