@import '../../../styles/extends.css';
@import '../../../styles/media-queries.css';

.CardList {
  @extend %unstyled-list;

  background: var(--gray-0);

  & li {
    margin-bottom: 1rem;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
