@import '../../../styles/variables.css';

.TableTitle {
  grid-area: title;
  align-self: end;
  justify-self: center;
}

.Table {
  grid-area: table;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 1fr 1fr;
  justify-self: center;
  border-bottom: 1px solid var(--primary-color);
  border-right: 1px solid var(--primary-color);
  background: #efefef;
  width: 100%;
  text-align: center;
}

.Table > div {
  border-top: 1px solid var(--primary-color);;
  border-left: 1px solid var(--primary-color);;
}