@import '../../../styles/variables.css';

.TableTitle {
  margin-left: -300px;
}

.Table {
  width: 100%;
  border-bottom: 1px solid var(--primary-color);
  border-right: 1px solid var(--primary-color);
  border-collapse: collapse;
  border-spacing: none;
}

.TableRow {
  width: 100%;
  background: #efefef;
  text-align: center;
}

.TableCell {
  border-top: 1px solid var(--primary-color);
  border-left: 1px solid var(--primary-color);
  padding: 10px;
  text-align: left;
}
