@import '../../../styles/extends.css';
@import '../../../styles/media-queries.css';

:global(.ReactModal__Body--open) {
  overflow: hidden;
}

:global(.ReactModal__Overlay) {

  /* stylelint-disable-next-line declaration-no-important */
  background: var(--transparent-black-70) !important;
  z-index: 1000;
}

/* Overwrite react-modal positioning */
:global(.ReactModal__Content) {

  /* stylelint-disable-next-line declaration-no-important */
  border: 0 !important;
  box-shadow: 0 0.25rem 1rem var(--transparent-black-30);
  position: relative;
}

.ModalHeader {
  display: flex;
  justify-content: center;

  & h1 {
    width: 100%;
    text-align: center;
  }
}

.ModalFooter {
  margin-top: auto;
}

.Dismiss {
  @extend %link-style;

  position: absolute;
  right: 1.5rem;
  top: 1.5rem;
  padding: 0;
  margin: 0;
  color: var(--primary-black);
  font-size: 1.5rem;
  line-height: 1;
}
