@import '../button/Button.css';
@import '../../../styles/media-queries.css';

:global(.ReactModal__Body--open) {
  overflow: hidden;
}

:global(.ReactModal__Overlay) {

  /* stylelint-disable-next-line declaration-no-important */
  background: var(--transparent-black-70) !important;
  z-index: 1000;
}

/* Overwrite react-modal positioning */
:global(.ReactModal__Content) {

  /* stylelint-disable-next-line declaration-no-important */
  border: 0 !important;
  box-shadow: 0 0.25rem 1rem var(--transparent-black-30);
  position: relative;
}

.ModalHeader {
  display: flex;
  justify-content: center;

  & h1 {
    width: 100%;
    text-align: center;
  }

  & button {
    position: absolute;
    right: 1rem;
    top: 1rem;
    padding: 0;
    margin: 0;
  }
}

.ModalFooter {
  margin-top: auto;
}

.CloseButton {
  @extend %secondary-theme;

  font-size: 2rem;
  line-height: 1;
  border-radius: 9999px;
  height: 2rem;
  width: 2rem;
}
