@import '../../../styles/extends.css';

.TabNavigation {
  background: var(--gray-10);
  border-top: 1px solid var(--gray-0);
  border-bottom: 1px solid var(--gray-0);
}

.TabNavigationContainer {
  @extend %container;

  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 0.9rem;
}

.CommunityCTA {
  margin-left: auto;
}

.TabNavigationList {
  @extend %unstyled-list;

  display: flex;
  justify-content: flex-start;
}

.TabNavigationItem {
  border-top-width: 0;
  margin: 0 1rem 0 0;

  & button {
    font-size: 0.9rem;
    background: transparent;
    border-width: 0;
    border-radius: initial;
    color: var(--gray-0);
    padding: 1.5rem 0 calc(1.5rem - 5px);
    border-bottom: 5px solid transparent;
  }

  &.ActiveTab button {
    border-bottom-color: var(--dark-green);
    font-weight: 700;
    color: var(--dark-green);
  }
}

.TabPanel {
  @extend %container;

  margin-top: 2rem;
}
