@import '../../../styles/extends.css';
@import '../../../styles/media-queries.css';

.TabPanels {
  position: static;
  top: 0;
}

.TabNavigation {
  @extend %box-shadow;

  background: var(--native-cream-2);
  border-top: 1px solid var(--gray-0);
  border-bottom: 1px solid var(--gray-0);
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  z-index: 501;
}

.TabNavigationContainer {
  @extend %container;

  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 0.9rem;
  flex-direction: column;

  @media (--medium-viewport) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.CommunityCTA {
  margin: 1rem auto 0;
  color: var(--primary-black);
  text-decoration: none;
  display: inline-flex;
  align-items: center;

  &:hover,
  &:active,
  &:focus {
    color: var(--gray-3);
  }

  & .CTAIcon {
    color: var(--telegram-blue);
    font-size: 1.5rem;
    margin-right: 0.5rem;
    background: var(--primary-white);
    border-radius: 100%;
  }

  @media (--medium-viewport) {
    margin: 0;
  }
}

.TabNavigationList {
  @extend %unstyled-list;

  display: flex;
  justify-content: flex-start;
}

.TabNavigationItem {
  border-top-width: 0;
  margin: 0 3rem 0 0;

  &:last-child {
    margin-right: 0;
  }

  & button {
    font-size: 0.9rem;
    background: transparent;
    border-width: 0;
    border-radius: initial;
    color: var(--gray-0);
    padding: 1.5rem 0 calc(1.5rem - 5px);
    border-bottom: 5px solid transparent;
  }

  &.ActiveTab button {
    border-bottom-color: var(--primary-color);
    font-weight: 700;
    color: var(--dark-green);
  }
}

.TabPanel {
  @extend %container;

  margin-top: 2rem;
}
