.TabNavigation {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: center;
  border-top: 2px solid var(--primary-color);
}

.TabNavigationItem {
  border: 2px solid var(--primary-color);
  border-top-width: 0px;
  margin: 0 0.5rem;

  & button {
    border-width: 0;
    border-radius: initial;
    color: var(--primary-color);
  }

  &.ActiveTab button {
    background: var(--primary-color);
    color: var(--primary-white);
  }
}
