@import '../../../styles/extends.css';
@import '../../../styles/media-queries.css';

.Footer {
  background: var(--gray-2);
  color: var(--primary-white);

  @media (--medium-viewport) {
    background: linear-gradient(to right, var(--gray-2) 90%, var(--neutral-gray) 90%);
    width: 100vw;
    overflow: hidden;
  }
}

.FooterContainer {
  @extend %container;

  display: flex;
  flex-direction: column;

  @media (--medium-viewport) {
    justify-content: flex-start;
    align-items: stretch;
    flex-direction: row;
  }
}

.PrimaryFooter {
  padding: 2rem 0;
  display: flex;
  align-items: center;
  width: 100%;

  @media (--medium-viewport) {
    justify-content: flex-start;
  }
}

.FooterLogo {
  & svg {
    width: 8rem;
  }

  & path {
    fill: var(--transparent-white-50);
  }

  & :global(path.logo-text) {
    display: none;

    @media (--medium-viewport) {
      display: block;
    }
  }
}

.FooterNav {
  flex-grow: 1;
  text-align: right;

  @media (--medium-viewport) {
    flex-grow: 0.25;
    flex-shrink: 2;
    flex-basis: 60%;
    text-align: left;
  }
}

.FooterMenu {
  @extend %unstyled-list;

  & .FooterMenuItem {
    padding: 0 0 1rem 0;
    display: inline-block;
    width: 100%;
  }

  & .FooterLink {
    text-decoration: none;
    color: var(--primary-white);
  }

  @media (--medium-viewport) {
    margin-left: 4rem;
    columns: 2;
    column-gap: 1rem;
  }
}

.FooterSocial {
  padding: 2rem 0;
  background: var(--neutral-gray);
  display: flex;
  align-items: center;
  justify-content: space-around;

  @media (--max-small-viewport) {
    margin: 0 -1%;
  }

  @media (--medium-viewport) {
    padding: 0 0 0 2rem;
    width: 40%;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 100%;
      width: 1000px;
      background: var(--neutral-gray);
    }
  }
}

.SocialMedia {
  @extend %unstyled-list;

  display: flex;
  justify-content: space-evenly;
  font-size: 2.5rem;

  & a {
    color: var(--gray-4);
    text-decoration: none;
    transition: color 200ms linear;
    text-shadow: 0 1px 1px var(--primary-black);

    &:hover,
    &:active,
    &:focus {
      color: var(--white-3);
    }
  }

  @media (--max-small-viewport) {
    @extend %container;
  }

  @media (--medium-viewport) {

    & li:not(:last-child) {
      margin-right: 2rem;
    }
  }
}
