@import '../../../styles/media-queries.css';
@import '../../forms/styles.css';

%label {
  color: var(--primary-color);
  font-size: 1.25rem;
  font-weight: 700;
}

.ManageTaskForm {
  composes: FormStyles from '../../forms/styles.css';
  margin-top: 2rem;
}

.ManageTaskFields {
  & > div {
    break-inside: avoid;
  }

  & label {
    display: block;
  }

  @media (--medium-viewport) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
  }
}

.Error {
  color: var(--warm-coral);
}

.description {
  grid-column: span 2;
}

.checkboxContainer {
  display: block;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  & .customCheckbox {
    display: block;
    margin: 1rem 0;
    border: 2px solid var(--dark-green);
    height: 20px;
    width: 20px;
  }

  & .conditionsCheckbox {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;

    &:checked {
      & ~ .customCheckbox {
        background-color: var(--dark-green);
      }
    }

    &:disabled {
      & ~ .customCheckbox {
        cursor: not-allowed;
      }
    }
  }
}
