@import '../../../styles/media-queries.css';

%label {
  color: var(--primary-color);
  font-size: 1.25rem;
  font-weight: 700;
}

.ManageTaskForm {
  composes: container from global;
  margin-top: 2rem;
}

.ManageTaskFields {
  & > div {
    break-inside: avoid;
  }

  & label {
    display: block;
  }

  @media (--medium-viewport) {
    columns: 2;
    column-gap: 2rem;
  }
}

.FieldGroup {
  margin-bottom: 1rem;

  & label {
    @extend %label;
  }

  & input,
  & textarea {
    border: 1px solid var(--primary-color);
    width: 100%;
    padding-left: 0.5rem;
    font: 1rem 'azo-sans-web', sans-serif;
  }

  & input {
    height: 2rem;
  }

  & textarea {
    padding: 0.5rem;
    resize: none;
  }
}

.GroupedFieldGroup {
  break-before: avoid;
  break-after: always;

  & h2 {
    @extend %label;

    margin: 0;
  }
}

.Error {
  color: var(--secondary-color);
}

.RadioField {
  margin-right: 0.75rem;
}

input[type=number]::-webkit-inner-spin-button {
  margin: 0;
  -webkit-appearance: none;
}
