:root {
  --decorator: {
    &:after {
      content: "";
      position: absolute;
      top: 100%;
      left: 20%;
      width: 60%;
      height: 1px;
      background: var(--primary-color--alt);
    }
  }
}

.Card {
  background: var(--white-1);
  height: 100%;
  padding: 1rem 0;
}

.Card_Container {
  composes: container from global;

  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-column-gap: 2rem;
  grid-template-areas:
    'summary header membership'
    'summary data membership';

  & .Header {
    grid-area: header;
    text-align: center;
  }

  & .Summary,
  & .Data,
  & .Membership {

    & h4 {
      text-align: center;
      position: relative;
      padding-bottom: 1rem;

      @apply --decorator;
    }
  }

  & .Summary {
    grid-area: summary;
  }

  & .Data {
    grid-area: data;
  }

  & .Membership {
    grid-area: membership;
  }
}


.Title,
.Subtitle {
  margin: 0;
  font-weight: 100;
}

.Title a {
  color: var(--primary-color);
  text-decoration: none;
}

.Subtitle {
  color: var(--gray-0);
}

.Taglist {
  list-style-type: none;
  margin: 0;
  padding: 0;
  & li {
    display: inline-block;
  }
}

