@import '../../../styles/extends.css';
@import '../../../styles/media-queries.css';

.Card {
  background: var(--white-1);
  height: 100%;
  position: relative;

  @media (--medium-viewport) {
    box-shadow: 0 0.25rem 1rem var(--transparent-black-30);
    border-radius: 5px;
    overflow: hidden;
  }
}

.Header {
  min-height: 15rem;
  position: relative;
  background-position: center center;
  background-size: cover;

  @media (--medium-viewport) {
    min-height: 25rem;
  }
}

.HeaderOverlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(0deg, var(--transparent-black-100), var(--transparent-black-0) 60%);
}

.HeaderContainer {
  @extend %container;

  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
}

.Title,
.Location {
  color: var(--primary-white);
}

.Title {
  margin: 0;
}

.Location {
  margin: 1rem 0;
}

.CTAMobile {
  background: var(--gray-9);
  padding: 1.5rem 0;
  box-shadow: 0 0 2rem var(--transparent-black-40) inset;
  display: flex;
  justify-content: space-around;

  @media (--medium-viewport) {
    position: absolute;
    top: 0;
    right: 0;
    padding: 1rem;
    box-shadow: 0 0 0;
    background: transparent;
  }
}

.CTABadge {
  width: 95%;
  border-radius: 5px;
  padding: 0.5rem;
  background: var(--primary-white);
  box-shadow: 0 0 2rem var(--transparent-black-40);
  display: flex;
  justify-content: space-between;
  align-items: center;

  & > span {
    flex-grow: 1;
    text-align: center;
  }

  & > button {
    margin-left: 1rem;
  }

  @media (--medium-viewport) {
    box-shadow: 0 0 0.5rem var(--transparent-black-30);
    padding: 0.5rem 1rem;
    white-space: nowrap;
    width: auto;
  }
}

.TokenData {
  & dl {
    @extend %unstyled-list;

    display: flex;
  }

  & dl div {
    padding: 1.5rem 1rem 1.5rem 1rem;
  }

  & dt {
    margin-bottom: 0.5rem;
  }

  & dd {
    margin: 0;
    font-weight: 700;
  }

  &.Mobile {
    & dl {
      flex-flow: wrap;
    }

    & dl div {
      width: 50%;
      border-bottom: 1px solid var(--gray-9);

      &:nth-child(odd) {
        border-right: 1px solid var(--gray-9);
      }
    }

    @media (--large-viewport) {
      display: none;
    }
  }

  &.Desktop {
    display: none;
    position: absolute;
    right: 0;
    color: var(--primary-white);
    text-align: right;

    @media (--large-viewport) {
      display: block;
    }
  }
}

.Summary,
.Membership {
  @extend %container;
}
