@import './styles/variables.css';
@import './styles/media-queries.css';

html {
  box-sizing: border-box;
}

html,
body {
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'azo-sans-web', sans-serif;
  font-size: 100%;
  background: var(--native-cream);
  font-weight: 300;
}

* {
  font-family: inherit;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
