@import '../../../styles/extends.css';

:global(.ReactTable) {
  border: 0;
}

:global(.rt-table) {
  border: 1px solid rgba(0, 0, 0, 0.1);
}

:global(.pagination-bottom) {
  margin: 0 auto;
}

.ManageMembers {
  margin: 0 0 3rem;
}

.ManageMembersTitle,
.ManageMembersSubtitle {
  text-align: center;
  margin: 0;
}

.ManageMembersTitle {
  color: var(--dark-green);
  font-weight: 400;
}

.ManageMembersSubtitle {
  margin-bottom: 2rem;
  font-size: 1.5rem;
  font-weight: 400;
}

.Pagination {
  display: flex;
  margin: 2rem auto 0;

  & button,
  & button[disabled] {

    /* stylelint-disable-next-line declaration-no-important */
    box-shadow: none !important;
    border-radius: 0;
  }
}

.PaginationList {
  @extend %unstyled-list;

  display: inline-flex;

  & li {
    flex: 1 1 100%;
  }
}
