
%label {
  color: var(--primary-color);
  font-size: 1.25rem;
  font-weight: 700;
}

.FormStyles {
  margin: 2rem 0;

  & .SubmitButton {
    margin-top: 3rem;
  }

  & label {
    @extend %label;
  }

  & input:not([type="radio"]) {
    height: 3rem;
  }

  & input:not([type="radio"]),
  & textarea {
    border: 1px solid var(--gray-8);
    width: 100%;
    padding-left: 0.5rem;
    font: 1rem 'azo-sans-web', sans-serif;
  }

  & textarea {
    padding: 0.5rem;
    resize: none;
  }

  & button[type="submit"] {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}

.FieldGroup {
  margin-bottom: 1rem;

  & label {
    @extend %label;
  }
}

